<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada pa o email ({{ email }}).</p>

<p>Para continuar com a recuperação de senha clique no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>
